In [382]:
import pandas as pd
import re

In [384]:
df_cleaned = pd.read_excel("Copy_of_Tickets_cleaned.xlsx")
df_history = pd.read_excel("Ticket history 3.xlsx")

The first row and headings of the cleaned and history data files

In [386]:
display(df_cleaned.iloc[[0]])
display(df_history.iloc[[0]])

,TICKETID,ALTERNATEKEYSUFFIX,AREA,CATEGORY,ISSUE,RECEIVEDDATE,COMPLETEDDATE,SUBJECT,URGENCYCODE,PROBLEM,SOLUTION,RESULTIONSUMMARY,ACCOUNTID,ACCOUNT
0,t6UJ9A00GHH8,NaN,NaN,S1000v4,NaN,2025-05-23 11:30:32,2025-05-23 16:05:51,URGENT HELP NEEDED: PI 7268 Batch posting fail...,3,Would you be able to help correct the whatever...,Batch had been imported incorrectly. Corrected...,NaN,A6UJ9A0023H4,Account_1

,TICKETID,TICKETACTIVITYID,USERID,SHORTDESC,CREATEDATE,ACTIVITYDESC,ACTIVITYTYPECODE,ACTIVITYTYPE
0,t6UJ9A00EWHH,Q6UJ9A1U16LF,U6UJ9A0000CW,NaN,2024-01-05 10:10:11,NaN,k6UJ9A0004CG,Customer Update

In [387]:
print(" Missing Values in Cleaned Tickets:")
display(df_cleaned.isnull().sum())


print("\n Missing Values in Ticket History:")
display(df_history.isnull().sum())

 Missing Values in Cleaned Tickets:

TICKETID                 0
ALTERNATEKEYSUFFIX    5275
AREA                  5275
CATEGORY                 0
ISSUE                 3705
RECEIVEDDATE             0
COMPLETEDDATE            0
SUBJECT                744
URGENCYCODE              0
PROBLEM                 75
SOLUTION                41
RESULTIONSUMMARY      4203
ACCOUNTID                0
ACCOUNT                  0
dtype: int64

 Missing Values in Ticket History:

TICKETID                0
TICKETACTIVITYID        0
USERID                  0
SHORTDESC           30612
CREATEDATE              0
ACTIVITYDESC         1700
ACTIVITYTYPECODE        0
ACTIVITYTYPE            0
dtype: int64

We now find any missing values

We aren't doing any sort of time predictions so we rid off all these aswell as other redundant coloumns, we alos keep the createdate coloumn which will become apperent.

In [395]:
keep_cleaned = ['TICKETID', 'ISSUE', 'SUBJECT', 'URGENCYCODE', 'PROBLEM', 'SOLUTION','CATEGORY']
keep_history = ['TICKETID', 'CREATEDATE', 'ACTIVITYDESC']

df_cleaned = df_cleaned[keep_cleaned]
df_history = df_history[keep_history]
display(df_cleaned.iloc[[0]])
display(df_history.iloc[[3]])

,TICKETID,ISSUE,SUBJECT,URGENCYCODE,PROBLEM,SOLUTION,CATEGORY
0,t6UJ9A00GHH8,NaN,URGENT HELP NEEDED: PI 7268 Batch posting fail...,3,Would you be able to help correct the whatever...,Batch had been imported incorrectly. Corrected...,S1000v4

,TICKETID,CREATEDATE,ACTIVITYDESC
3,t6UJ9A00EW08,2024-01-02 08:26:28,[REDACTED_NAME] to: [REDACTED_EMAIL]\n\n[REDAC...

Now need to get cohesive time line of how each ticket was handled so group by ticket id then order descindigly

In [400]:
df_history['CREATEDATE'] = pd.to_datetime(df_history['CREATEDATE'], errors='coerce', dayfirst=True)
df_history = df_history.sort_values(by=['TICKETID', 'CREATEDATE']).reset_index(drop=True)

Now cleaning messy activity flow.

In [403]:
df_history['ACTIVITYDESC_CLEAN'] = df_history['ACTIVITYDESC'].apply(
    lambda text: re.sub(r"\s+", " ", re.sub(
        r"DESCRIPTION\s*:|TICKET RECEIVED:.*|\[REDACTED[^\]]*\]|TO\s*:.*", 
        "", str(text), flags=re.IGNORECASE
    )).strip() if isinstance(text, str) else ""
)

The Problem is always the first log for a ticketID, so we extract that (as we already have good in the cleaned file), then we group ticket activity into one row per ticket.

In [405]:
df_history = df_history[['TICKETID', 'ACTIVITYDESC_CLEAN']]
# Group into one row per ticket with QUERY and RESOLUTION
df_history_cleaned = (
    df_history
    .groupby('TICKETID', group_keys=False)
    .apply(lambda g: pd.Series({
        'QUERY': g['ACTIVITYDESC_CLEAN'].iloc[0],  # first activity
        'RESOLUTION': ' || '.join(g.iloc[1:]['ACTIVITYDESC_CLEAN']) if len(g) > 1 else ""  # remaining activities
    }))
    .reset_index()
)

# Preview the result
df_history_cleaned.head(3)

/var/folders/dz/f7c2klt93sd358r2cnhpdqdc0000gn/T/ipykernel_85405/3646573335.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: pd.Series({

,TICKETID,QUERY,RESOLUTION
0,t6UJ9A00EVYR,E-mail : #: 9-694611 has changed its status to In,|| Hi HNY :-) - I have carried the below out ...
1,t6UJ9A00EVZ3,ticket,checks complete - No new issues found || check...
2,t6UJ9A00EVZA,ticket,No issues || No issues || 9-695124 raised for ...

Now saving both cleanish files as CSV's to have further work done.

In [ ]:
df_history_cleaned.to_csv("Ticket_query_resolution.csv", index=False, encoding="utf-8")
df_cleaned.to_csv("Ticket_file_clean.csv", index=False, encoding="utf-8")